@font-face {
    font-family: font;
    src: url(./fonts/b-bumbu-sushi-font/BumbuSushi-d9gqZ.otf);
}
* {
    font-family: font;
    color: rgb(216, 203, 128);
    scroll-behavior: smooth;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .2rem;
    height: .2rem;
}
::-webkit-scrollbar-track {
    background-color: rgb(17, 17, 17);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 203, 128);
}
body {
    background-color: #222; 
    margin: 0;
    overflow-x: hidden;
}
nav {
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: row;
    height: calc(10vh + 2rem);
    min-height: 10vh;
    max-height: 15vh;
    overflow: hidden; margin: 0;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100vw;
    transition: 200ms ease-in-out;
}
nav:hover {
    height: calc(12vh + 2rem);
}
nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}
nav ul > :nth-child(4) {
    background-color: #222;
    padding: 1rem;
    border-radius: 1rem;
}
nav a {
    text-decoration: none;
    color: rgb(216, 203, 128);
    font-size: clamp(1.5rem, 1.7vw, 1.7vw);
    margin: 3vw;
}
nav li {
    list-style: none;
    transition: 100ms;
}
nav li:hover {
    transform: scale(1.15);

}
nav img:hover {
    cursor: pointer;
}
.nav-btn {
    width: 30px;
    margin: auto;
    z-index: 10;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0;
    display: none;
}
.nav-btn span {
    position: absolute;
    display: block;
    height: 5px;
    width: 60px;
    transform: rotate(0);
}
.one,
.three {
  background-color: rgb(216, 203, 128);
}
.two {
    width: 60px;
    height: 5px;
    z-index: 10;
    position: relative;
    display: flex;
    background-color: none;
}
.two span {
    position: absolute;
    display: block;
    height: 5px;
    width: 30px;
    background-color: rgb(216, 203, 128);
    transform: rotate(0);
}
.two span:nth-child(2) {
    right: 0;
}
.two span:nth-child(1),
.two span:nth-child(2) {
  transform: translateX(0);
  transition: all 200ms 500ms ease;
}
span.one {
    top: 0px;
    transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
span.two {
    top: 25px;
    transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 1.92);
}
span.three {
    top: 50px;
    transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.clicked .one {
    transform: translateY(25px) rotate(45deg);
}
.clicked .three {
    transform: translateY(-25px) rotate(-45deg);
}
.clicked .two span:nth-child(1) {
    transform: translateX(10vw);
    background-color: red;
    opacity: 0;
}
.clicked .two span:nth-child(2) {
    transform: translateX(-10vw);
    background-color: red;
    opacity: 0;
}
#dropdown-nav {
    display: none;
    position: fixed;
    background-color: rgb(17, 17, 17);
    height: 70vh;
    width: 100vw;
    z-index: 99;
    opacity: 95%;
}
#dropdown-nav.active{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#dropdown-nav ul li,a {
    text-decoration: none;
    list-style: none;
    margin: 4vh;
    font-size: 1.5rem;
}
.logo {
    border-radius: 50%;
    margin: 1rem;
}
#top {
    display: flex;
    flex-direction: row;
}
#top .logo {
    max-width: 35rem;
    width: 25vw;
    box-shadow: .5rem .5rem 1.5rem rgb(0, 0, 0);

}
.img-1 {
    max-width: 50vw;
    height: auto;
    object-fit: contain;
}
.main-1-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.quotes p {
    font-size: 2vw;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.main-1-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    min-height: 50vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/pexels-valeria-boltneva-1028427.jpg);
}
.main-1-2 a {
    background-color: #222;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 1rem;
    font-size: calc(1rem + 2vw);
    border-radius: 1rem;
    text-decoration: none;
    transition: 100ms;

}
.main-1-2 a:hover {
    transform: scale(1.15);
}
.mobile-call-btn {
    display: none;
}
#menu {
    background-color: rgb(17, 17, 17);
}
.internal {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    align-self: center;
    font-size: calc(2rem + 2vw);
    border-bottom: rgb(216, 203, 128) solid;
}
.label {
    font-size: calc(1rem + 2vw);
}
.label-info {
    font-size: calc(.8rem + 1vw);
    font-family: 'Courier New', Courier, monospace;
}
.menu {
    height: 100%;
}
.items {
    height: 100%;
    margin-bottom: 2rem;
}
.menu-mini-container {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.card {
    display: flex;
    padding: 3vw;
    padding-top:1rem;
    padding-bottom: 1rem;
    background-color: #222;
    display: inline-flex;
    margin: 1rem;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.card img {
    width: 25rem;
    border-radius: .1rem;
}
.card p {
    font-size: clamp(1.5rem, 1.7vw, 1.7vw);
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 17, 17);
    margin: 0;

}
#about img {
    width: calc(15rem + 20vw);
    margin: 5rem;
    border-radius: 2rem;
}
h2 {
    font-size: calc(2rem + 2vw);
    border-bottom: rgb(216, 203, 128) solid;
}
.about-container {
    display: flex;

}
.about-container p {
    margin: 3rem;
    background-color: #222;
    padding: 2rem;
    height: fit-content;
    border-radius: 1rem;
    font-size: calc(1rem + 1vw);
    justify-self: center;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}
#info {
    display: flex;
    background-color: #222;
}
.hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}
.hours ul {
    font-size: calc(1rem + 1vw);
}
.hours > ul li {
    margin: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.location {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    align-self: center;
    font-size: calc(2rem + 2vw);
}
h4 {
    align-self: center;
    font-size: calc(2rem + 2vw);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 17, 17);
}
footer img {
    width: 15vw;
    min-width: 12rem;
    margin: 2rem;
}
footer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(.7rem + .5vw);
    color: white;
    text-align: center;
}
.duskdev-link a{
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(1rem + 1vw);
}
.duskdev-link a:hover {
    opacity: 40%;
}
.duskdev-link {
    margin: 1rem;
}

@media only screen and (max-width: 1000px) {

    nav > ul li {
        display: none;
    }
    .nav-btn {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1rem;
        transform: scale(.7);
    }
    .main-1-2 {
        display: none;
    }
    .mobile-call-btn {
        display: block;
        text-decoration: none;
        background-color: rgb(17, 17, 17);
        font-weight: 600;
        padding-left: 2rem;
        padding-right: 2rem;
        padding: 1rem;
        font-size: calc(1rem + 2vw);
        border-radius: .4rem;
        margin-bottom: 3rem;
    }
    .about-container {
        flex-direction: column;
    }
    #info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    iframe {
        width: 80vw;
    }
    #top {
        flex-direction: column;
    }
    #top > * {
        width: 100vw;
        height: fit-content;
    }
    #top .logo {
        max-width: 40rem;
        width: 50vw;
    }
    .quotes p {
        font-size: 5vw;
        text-align: center;
    }
    .about-container {
        margin: 1rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .card {
        padding: 1rem;
        height: 19rem;
    }
    .card img {
        width: 10rem;
        border-radius: 1rem;
    }
    .hours > ul li {
        width: 80vw;
        margin: 1rem;
    }
    .map {
        margin: 2rem;
    }
    .about-container img {
        margin: 0;
    }
    h2 {
        margin-bottom: 0;
    }
    .card p {
        margin: 1rem;
    }
    #about img {
        display: none;
    }
}